<div>
  <h1 class="text-2xl font-bold text-gray-900 mb-6">Following</h1>

  @if (loading()) {
    <div class="flex justify-center py-10">
      <p-progressSpinner strokeWidth="3" />
    </div>
  } @else {
    @for (blog of blogs(); track blog._id) {
      <app-blog-card [blog]="blog" />
    }
    @if (!blogs().length) {
      <div class="text-center py-16">
        <i class="pi pi-users text-4xl text-gray-300 mb-4"></i>
        <p class="text-gray-400 mb-2">No stories from people you follow</p>
        <a routerLink="/explore" class="text-gray-900 font-medium hover:underline"
          >Discover writers to follow</a
        >
      </div>
    }
  }
</div>
